<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Указать ссылку на сервер в случае переноса БД и проекта -->
		<!-- API -->
		<add key="api" value="http://jmu.api.lgpu.org/api"/>
		<!-- STORAGE -->
		<add key="storage" value="http://jmu.api.lgpu.org/storage"/>
	</appSettings>
</configuration>