<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Указать ссылку на сервер в случае переноса БД и проекта -->
		<add key="host" value="http://localhost:8080/"/>
		<!-- API -->
		<add key="api" value="http://localhost:8080/api"/>
		<!-- STORAGE -->
		<add key="storage" value="http://localhost:8080/storage"/>
		<!-- DOCX -->
		<add key="docx" value="C:\Program Files\Microsoft Office\root\Office16\WINWORD.EXE"/>
	</appSettings>
</configuration>